In [ ]:
# https://www.kaggle.com/datasets/yasserh/titanic-dataset/data

### Import necessary libraries

In [1]:
# write your code here

### Read the dataset

In [2]:
# use pd.read_csv()

### Have a look at the dataset

In [3]:
# use head(), describe(), info(), isnull().sum()

### Deal with missing values

In [4]:
# fill the missing value in the "Age" column with its mean

In [6]:
# fill the missing value in the "Embarked" column with the most frequent value

In [5]:
# drop the "Cabin", "Ticket", "PassengerId", and "Name" column and set inplace as true

### Create the boxplot of age by Pclass

In [ ]:
# use sns.boxplot()

### Explore the distribution of survivers by age

In [7]:
# use sns.histplot() and set hue="Survived" and kde=True

### Explore the distribution of survivers by gender

In [8]:
# use sns.countplot() and set hue="Sex"

### Explore the distribution of surviver by passenger class

In [9]:
# use sns.countplot() and set hue="Pclass"